logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin/
.cache
.DS_Store
*.gz
generated.keystore
/node_modules
/public/javascripts/bundle.js
